
html {
	font: 18px/1 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}

a {
	color: #94C3FF;
	text-decoration: none;
}

div.links ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 1em 3em;
	width: 100%;
}

div.links a {
	color: #FFFFFF;
}

div.links ul li {
	float: left;
	padding: 0 1em 1em 0;
}

@media screen and (min-width:800px) {
	div.links {
		position: fixed;
	}

	div.links ul {
		width: 80px;
		padding: 0;
	}

	div.links ul li {
		float: inherit;
		padding: 0;
	}
}

.lowercase {
	text-transform: lowercase;
}

h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	font-size: 2em;
}

h1 span {
	color: #969696;
	font-size: .42em;
	margin-left: .476em;
}

h2 {
	font-size: 2em;
	line-height: 1.3;
}

h3 {
	font-size: 1.875em;
	line-height: 1.3;
}

dt {
	display: inline;
	background-color: #34ff44;
	margin-left: 10px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	min-width: 33em;
	max-width: 80em;
}

.details {
	background-color: #2C66B8;
}

.details p {
	margin-top: 0;
}

.details p a {
	color: #A3CFFF;
	text-decoration: underline;
}

.details h2 a {
	color: #FFFFFF;
}

.details h2 {
	background-color: #4A7CC2;
	border-bottom: solid 0.104em #7198C1;
	border-top: solid 0.104em #7198C1;
	box-shadow: 0 0 0.8333em rgba(0, 0, 0, 0.4);
	clear: both;
	color: #FFFFFF;
	margin-bottom: 0.625em;
	margin-top: 0.9375em;
	padding: 0.1875em 0;
	text-align: center;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}

.details h3 {
	color: #F5F5F5;
	margin-bottom: 0;
	margin-top: 0.8333em;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.35);
}

.details .content {
	height: 39.0625em;
}

.details p {
	color: #EBEBEB;
	line-height: 1.4em;
	margin-bottom: 0.3125em;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.35);
}

.details li, .details li p {
	line-height: 1.2em;
}

